fastapi==0.110.0
uvicorn==0.27.0
pydantic==2.6.1
python-dotenv
numpy
pandas
scipy
matplotlib
fredapi
plotly
finance-datareader
pykrx
seaborn
scikit-learn
statsmodels
yfinance
copulas
pillow
cryptography
libsql

requests
nbformat
nbconvert
